foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86c77a40-0edd-489a-ac9c-d9be77520ddf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c91d58af-bc5f-4b52-8061-ad105385812d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Password@1" database="db00" />
	</db:config>
	<flow name="foreachFlow" doc:id="9f4b4a8f-34ce-48fb-9981-89540f621b0d" >
		<http:listener doc:name="Listener" doc:id="e729bb5c-fc73-43b0-8047-caddfb7cc48e" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="5be49573-8151-46ab-90c5-cdeaf184888d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map {
id: 200 + $$,
name: "siva",
number: 1234567890,
lname: "reddy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="c7c2bcd1-6683-463d-a10d-21f16ef82685">
				<logger level="INFO" doc:name="Logger" doc:id="e9da4a33-d013-4697-ad5b-de0ab7921cb8" message="#[payload]" />
				<db:insert doc:name="Insert" doc:id="2560325d-a627-4b6f-af60-561ce12826aa" config-ref="Database_Config">
				<db:sql><![CDATA[INSERT INTO student(id, name, number, lname)
VALUES (:id, :name, :number, :lname);]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
			</parallel-foreach>
	</flow>
</mule>
